# Compiled Lua sources
luac.out

# Luarocks build files
*.src.rock

# Text editor configs
.zed/
.vscode/
.vs/
.idea/
*.sublime-workspace

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# MacOS
.DS_Store

# Windows
*:Zone.Identifier
Thumbs.db
Desktop.ini

# Bundles
*.zip
*.rar
*.tar
*.gz
*.7z
*.aseprite-extension

# Agents
.codex/
.agents/
.claude/
.cursor/
.copilot/

# Misc
node_modules/
.env
*.bak
*.tmp
.cache/
tmp/


